:root {
    --primary: #454138;
    --secondary: #d1cdb7;
    --menuBackground: #dcd8c0;
    --textShadow: 0.3rem 0.3rem 0 #bab5a1;
    --textShadowColor: #bab5a1;
}
* {
    box-sizing: border-box;
    font-family: helvetica, sans-serif;
    font-weight: lighter;
    color: var(--primary);
    margin: 0px;
}

body {
    background-color: var(--secondary);
    background-size: 0.3rem 0.3rem;
    background-image: linear-gradient(to right, #ccc8b1 1px, rgba(204,200,177,0) 1px), linear-gradient(to bottom, #ccc8b1 1px, rgba(204,200,177,0) 1px);
}

.dark {
    -webkit-app-region: drag;
    background-color: var(--primary);
    height: 30px;
    justify-content: center;
}

.title-bar {
    text-align: center;
    color: var(--secondary);
    padding: 2px;
    letter-spacing: 0.5rem;
    text-shadow: 0.1rem 0.1rem 5px black;
    user-select: none;
    display: inline-flex;
}

.btn {
    -webkit-app-region: no-drag;
    background-color: var(--secondary);
    border: solid var(--primary);
    border-radius: 2px;
    border-width: 0.1rem;
    float: right;
    margin: 5px;
    height: 20px;
    width: 20px;
    justify-content: center;
}

.app {
    margin: 8px;

}

.main-list-container {
    list-style-type: none;
    text-decoration: none;
    margin: 20px;
    padding: 0px;
    display: grid;
    grid-column-gap: 20px;
}

.title-main {
    margin: 1rem 0;
    border: solid var(--primary);
    border-width:  0.1rem 0rem;
    padding: 0.1rem 1rem;
    text-shadow: 0rem 0.2rem var(--textShadowColor);
    user-select: none;

}

.list-item {
    background-color: var(--menuBackground);
    text-align: center;
    padding: 10%;
    margin: 20px;
    display: inline-grid;
    box-shadow: var(--textShadow);
}

.main-li {
    background-color: var(--menuBackground);
    transition-duration: 100ms;
}

.main-li-text {
    border: solid var(--primary);
    border-width: 0.1rem 0rem;
    padding: 0.1rem 1rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

.main-li:hover {
    background-color: var(--primary);
    transition-duration: 100ms;
}

.main-li:hover .main-li-text {
    border: solid var(--menuBackground);
    border-width: 0.1rem 0rem;
    padding: 0.1rem 1rem;
    color: var(--menuBackground);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
    
}